
.table-hover .row:hover {
    background-color: #f5f5f5;
}

.table > div.row div[class^='col'] {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
}

.table > div.row:nth-child(odd) {
    background: #e6e6df;
}

.table > div.row div[class^='col']:first-of-type {
    border-left: 1px solid #ddd;
}

.table > div.row div[class^='col']:last-of-type {
    border-right: 1px solid #ddd;
}
